<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Email:</b>
  <%= @post.email %>
</p>

<p>
  <b>Date of Birth:</b>
  <%= @post.dob %>
</p>

<p>
  <b>Country:</b>
  <%= @post.country %>
</p>

